.Auth h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  padding: 0px;
  margin: 0px;
  line-height: 55px;
}

.Auth h3 {
  font-size: 1.3rem;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
}

.Auth {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: #94a3b8;
}

.Auth .left {
  width: 35vw;
  height: 100vh;
  background-image: url("../assets/login-splash.jpg");
  background-color: #4f5b72;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.Auth .right {
  flex: 1;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111a2b;
  text-align: center;
}

/* Form */
.Auth form {
  min-width: 320px;
  max-width: 450px;
  color: rgb(167, 199, 230);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth button {
  background-color: rgb(125, 187, 245);
  border: 0;
  color: #111a2b;
  font-size: 1.1rem;
  width: 100%;
  height: 5vh;
  border-radius: 8px;
  margin-top: 10px;
}

.Auth input[type="text"],
.Auth input[type="email"],
.Auth input[type="password"] {
  width: 100%;
  box-sizing: border-box;
  color: rgb(167, 199, 230);
  background-color: #1d2535;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 12px;

  border: 1px solid rgb(61, 82, 110);
  border-radius: 5px;

  margin: 10px 0;
}
.Auth input:focus-visible {
  outline: 0px solid rgb(125, 187, 245);
  outline-offset: 2px;
  border-color: rgb(125, 187, 245);
}

.login-line {
  display: inline-block;
  position: relative;
  top: 21px;
  background-color: rgb(61, 82, 110);
  height: 1px;
  width: 100%;
  z-index: 1;
}
#or {
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0px 15px;
  justify-self: center;
  background-color: #111a2b;
  z-index: 2;
}
#sign-up {
  padding: 0px;
  margin: 0px;
  line-height: 2px;
}
#sign-up a,
a:visited,
a:active {
  color: rgb(125, 187, 245);
  text-decoration: none;
}
.flash-div p {
  color: #f87171;
  margin: 0px;
}
.flash-div {
  height: 0.9rem;
}
#password-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

#password-eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #94a3b8;
}

#password-eye:hover {
  color: white;
}
.password-input {
  position: relative;
  width: 100%;
}
