body {
  margin: 0;
  overflow: hidden;
}

.Layout {
  position: relative;
  height: 100vh;
}

.Header {
  height: 10vh;
  background-color: white;
  box-sizing: border-box; /* Forces border to stay inside */
  border-bottom: 2px solid #e8edf4;
}
.container {
  display: flex;
  width: 100%;
  height: 95vh;
}

.Menu {
  min-width: 60px;
  max-width: 240px;
  height: 100vh;

  background-color: #111a2b;

  /* Take the menu out of the normal vertical flow */
  position: relative;

  /* Extend upward into the header */
  margin-top: -10vh;

  /*👉  ➡ Compensate for the height we moved upward ⬅
  padding-top: 10vh;👈*/

  z-index: 10;
}

.Content {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.Layout-Container {
  display: flex;
  height: 100%;

  overflow: hidden;
}

.Main-Scroll-Area {
  flex: 1;
  height: 100%;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Main-Scroll-Area::-webkit-scrollbar {
  display: none;
}

.RightPanel {
  width: 25vw;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}
